*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: palevioletred;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 370px;
    width: 350px;
    border-radius: 10px;
    background-color: wheat;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#container i{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}
